<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- <link rel="stylesheet" href="/ZPapp/static/style.css"> -->
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <title>FastAPI Zillow Data Extractor</title>
</head>
<body>
    <h1>FastAPI Zillow Data Extractor</h1>
    <p>Введите параметры для запроса данных с Zillow:</p>
    <form id="dataForm" method="get">
        <label for="location">Город, штат:</label>
        <input type="text" id="location" name="location" required><br><br>
        
        <label for="status_type">Статус недвижимости (For Sail):</label>
        <input type="text" id="status_type" name="status_type" required><br><br>

        <label for="home_type">Тип недвижимости:</label>
        <input type="text" id="home_type" name="home_type" required><br><br>

        <label for="minPrice">Цена, мин:</label>
        <input type="text" id="minPrice" name="minPrice" required><br><br>

        <label for="maxPrice">Цена, макс:</label>
        <input type="text" id="maxPrice" name="maxPrice" required><br><br>

        <label for="bathsMin ">Санузел, мин:</label>
        <input type="text" id="bathsMin" name="bathsMin" required><br><br>

        <label for="bathsMax">Санузел, макс:</label>
        <input type="text" id="bathsMax" name="bathsMax" required><br><br>

        <label for="bedsMin">Спальни, мин:</label>
        <input type="text" id="bedsMin" name="bedsMin" required><br><br>

        <label for="bedsMax">Спальни, макс:</label>
        <input type="text" id="bedsMax" name="bedsMax" required><br><br>

        <label for="sqftMin">Кв.фут, мин:</label>
        <input type="text" id="sqftMin" name="sqftMin" required><br><br>

        <label for="sqftMax">Кв.фут, макс:</label>
        <input type="text" id="sqftMax" name="sqftMax" required><br><br>

        <label for="distance_to_stores">Расстояние до магазинов здорового питания (миль):</label>
        <input type="text" id="distance_to_stores" name="distance_to_stores" required><br><br>
        
        <input type="submit" value="Найти">
    </form>
    
    <div id="result"></div>
    <script src="{{ url_for('static', path='/scripts.js') }}"></script>
</body>
</html>
